:root{
    --fundo-escuro: #000;
    --fundo-card: #1d2226;
    --fundo-card-ativo: hsla(0, 0%, 100%, 0.12);
    --texto-principal: hsla(0, 0%, 100%, 0.9);
    --texto-secundario: hsla(0, 0%, 100%, 0.6);
    --texto-escuro: hsla(0, 0%, 0%, 0.75);
    --input: #38434F;
    --primario: #70b5f9;
    --positivo: #3ec786;
    --ligth-red: #DF704D;
    --sm: 768px;
    --md: 1024px;
    --font-24: 1.5rem;
    --font-20: 1.25rem;
    --font-16: 1rem;
    --font-14: .875rem;
    --font-12: .75rem;
    --font-family-roboto: 'Roboto', sans-serif;
}

.container {
    padding-left: 6%;
    padding-right: 6%;
}

.button {
    border: 1px solid var(--primario);
    padding: .5rem 1.5rem;
    border-radius: 1rem;

    font-size: var(--font-14);
    font-weight: 500;
}

