.content {
  display: grid;
  grid-template-areas: 
  "sections"
  "lateral-menu";
  grid-template-columns: auto;
  grid-template-rows: auto auto;

  box-sizing: border-box;
}

.sections {
  grid-area: sections;
}

.lateral__menu {
  grid-area: lateral-menu;
}

