.app {
    display: grid;
    grid-template-areas: 
        "header"
        "content";
    grid-template-columns: auto;
    grid-template-rows: 50px auto;

    font-family: var(--font-family-roboto);
}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
}

